{{extend 'layout.html'}}
<h1>about</h1><hr>


<p class="lead">voetr empowers the internet</p>
<p class="lead">seeing past partisan politics</p>


<p class="lead">voetr is open source, crowd owned, givingfor enabled, transparent, and awesome.</p>
<p class="lead">voetr is a way for anyone to get involved and to make decisions.</p>
<p class="lead">voetr organically identifies issues and establishes leadership structures.</p>
<p class="lead">where should we be going? where does this power lie?</p>

PICTURE

<p class="lead">the internet can be so much more powerful.</p>
<p class="lead">let's do this.</p>

<p class="lead">powerful bylaw creation system</p>

PICTURE DESCRIBING

<p class="lead">voetr empowers the internet</p>
