{{extend 'layout.html'}}
<div class="centered-width">
	<h1>about</h1><hr>
	<p class="lead">voetr empowers the internet</p>
	<p class="lead">seeing past partisan politics</p>
	<p class="lead">voetr is open source, crowd owned, givingfor enabled, transparent, and awesome.</p>
	<p class="lead">voetr is a way for anyone to get involved and to make decisions.</p>
	<p class="lead">voetr organically identifies issues and establishes leadership structures.</p>
	<p class="lead">where should we be going? where does this power lie?</p>
	PICTURE
	<p class="lead">the internet can be so much more powerful.</p>
	<p class="lead">let's do this.</p>
	<p class="lead">powerful bylaw creation system</p>
	PICTURE DESCRIBING
	<p class="lead">voetr empowers the internet</p>
	<br>
	<br>
	<p class="lead">crowd sourced budgets; where are we placing our value?</p>
	<p class="lead">what is voetr?</p>
	<p class="lead">now is the time for change!</p>
	<p class="lead">now is the time to empower ourselves and realize that we can make a difference</p>
	<p class="lead">now is the time to really think about what is important</p>
	<p class="lead">let's stop being so petty, ignorant, and angry.</p>
	<p class="lead">let's help our fellow man.</p>  	
	<p class="lead">voetr empowers the internet to spark tangible differences. it only means so much as the value that it is given.</p>
</div>


