{{extend 'layout.html'}}
 <style>
    
    #left{
        float:left;
        width:150px;
        padding:15px;
    }
    
    #content{
        margin-left:165px;
    }
    #header-index-container{
        background-color:rgb(233,233,233);
        border-bottom:1px solid rgb(201,201,201);
    }
    #header-index{
        margin-left:6%;
        margin-right:6%;
    }
</style>
<div style="background-image: url(../voetr/static/images/crowd.jpg); height: 200px;background-repeat:no-repeat; background-size: 100%;background-position: 0px -400px;">
    <br><br>
 </div>
<div id="header-index-container">
    <div id="header-index">
        <br><h3 style="color:rgb(80, 84, 92);font-size:45px;">about</h3><br>
    </div>
</div>

<div class="centered-width">
<br><br><br>
<h2>we believe in a free and open internet</h2>
<h2>we believe in direct democracy</h2>
<h2>we believe in the power of people</h2>
<h2>this is all of our responsibility</h2>

<h2>voting is the great equalizer</h2>
<img src="/voetr/static/images/vote-thumb.jpg"/>

	<p class="lead">voetr empowers the internet</p>
	<p class="lead">seeing past partisan politics</p>
	<p class="lead">voetr is open source, crowd owned, givingfor enabled, transparent, and awesome.</p>
	<p class="lead">voetr is a way for anyone to get involved and to make decisions.</p>
	<p class="lead">voetr organically identifies issues and establishes leadership structures.</p>
	<p class="lead">where should we be going? where does this power lie?</p>
	PICTURE
	<p class="lead">the internet can be so much more powerful.</p>
	<p class="lead">let's do this.</p>
	<p class="lead">powerful bylaw creation system</p>
	PICTURE DESCRIBING
	<p class="lead">voetr empowers the internet</p>
	<br>
	<br>
	<p class="lead">crowd sourced budgets; where are we placing our value?</p>
	<p class="lead">what is voetr?</p>
	<p class="lead">now is the time for change!</p>
	<p class="lead">now is the time to empower ourselves and realize that we can make a difference</p>
	<p class="lead">now is the time to really think about what is important</p>
	<p class="lead">let's stop being so petty, ignorant, and angry.</p>
	<p class="lead">let's help our fellow man.</p>  	
	<p class="lead">voetr empowers the internet to spark tangible differences. it only means so much as the value that it is given.</p>
</div>


<br><br><br><br>