{{extend 'layout.html'}}

<style>     
    #contentwrapper{width: 100%;}    
    #content {}
    #right { 
        float: right;
        width: 255px;
        border-left:1px solid rgb(238,238,238);
		padding-left:15px;
		padding-right:15px;
    }
    #left {
		float: left;
		width: 175px;
		border-right:1px solid rgb(238,238,238);
		margin-left:15px;
    }  
    #committee-list{margin-left:15px;}
    #reccomended-committees{
		margin-left:15px;
		border:1px solid rgb(100,100,100);
		background-color:rgb(200,200,200);
    }  
</style>
<div class="alert fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Holy guacamole!</strong> You look awesome :D.
</div>
      
<div id="left">
	official<br>
	location / geolocate<br>
	tag form<br>
	{{for x in range(30):}}
		tags<br>
	{{pass}}
	1<br>
	2<br>
	3<br>
	4<br>
</div>

<div id="right">
	<button class="btn">+ new committee</button>

	<br><br><br>
	<div style="border:1px solid rgb(235,235,235);background-color:rgb(246,250,255);padding:15px;" id="ad_block">
        <a class="close" id="close-ad" href="#">&times;</a>
        <div id="promoted_list">
            {{for thread in range(5):}}
                <a href="/thread/{{=thread}}"><h5>promoted {{=thread}}</h5></a>
            {{pass}}          
        </div>
    <br>
    </div>
</div>

<h1>committees</h1><hr><br>

<div id="contentwrapper">
    <div id="content">
    	
		<div id="reccomended-committees">
			{{for committee in rand_committee_list:}}
				<h5><a href="/committee/{{=committee['url']}}">{{=committee['title']}}</a></h5>
			{{pass}}
		</div>

		<div id="committee-list">
		    {{for committee in committee_list:}}
		    	<h5><a href="/committee/{{=committee['url']}}/">{{=committee['title']}}</a></h5>
		    {{pass}}
		</div>

	</div>
</div>



<br>
<br>
<br>
<br>