{{extend 'layout.html'}}
<style>     
    #content{width: 100%;margin-left:6%;}    
    #committee-detail-area{border:1px solid rgb(211,217,231);background-color:rgb(247,247,247);}
    #committee-title-area{}
    #right { 
        float: right;
        width: 255px;
        border-left:1px solid rgb(238,238,238);
		padding-left:15px;
		padding-right:15px;
    }
    #left {
		float: left;
		width: 175px;
		border-right:1px solid rgb(238,238,238);
		margin-left:15px;
    }    
</style>
{{if request.args(1) is None:}}
<div id="right">
    <button class="btn">+ new thread</button><br>
    <button class="btn">join</button><br>
</div>
<div id="content">
    <img class="img-polaroid" src="/voetr/static/images/voetr_logo.png" style="height:100px;">
    <div id="committee-title-area">
        <h1>{{=selected_committee[0]['title']}}</h1>
    </div>
    <p class="lead">{{=selected_committee[0]['description']}}</p>     
    <div id="committee-detail-area">
        <a href="/committee/{{=selected_committee[0]['title']}}/administration/">administration</a>
        <a href="/committee/{{=selected_committee[0]['title']}}/bylaws/">bylaws</a>
        <a href="/committee/{{=selected_committee[0]['title']}}/bills/">bills</a>
        <a href="/committee/{{=selected_committee[0]['title']}}/bylaws/">moderation</a>
        <a href="/committee/{{=selected_committee[0]['title']}}/members/">members</a>
        <a href="/committee/{{=selected_committee[0]['title']}}/pages/">pages</a>
        {{for position in selected_committee_positions:}}
            {{=position['title']}}
        {{pass}}
    </div>
    <div>
        <div id="left">
            Questions
            Polls
            Petitions
            bills
        </div>
        <div>
            {{for x in range(10):}}
                <h4><a>thread {{=x}}</a></h4>
            {{pass}}
        </div>
        <br>
        <br>
    </div>
</div>

{{elif request.args(1) == 'bylaws':}}
{{elif request.args(1) == 'bills':}}
{{elif request.args(1) == 'moderation':}}
{{elif request.args(1) == 'members':}}

<h1>{{=selected_committee[0]['title']}}</h1>
<h2>members</h2>
{{for member in committee_member_array:}}

    {{=member['username']}}<br>

{{pass}}

{{elif request.args(1) == 'pages':}}
{{else:}}
{{pass}}
