{{extend 'layout.html'}}

<style>   
	#header-index-container{
        background-color:rgb(233,233,233);
        border-bottom:1px solid rgb(201,201,201);
    }
    #header-index{
        margin-left:6%;
        margin-right:6%;
    }  
    #contentwrapper{width: 100%;}    
    #content {}
    #right { 
        float: right;
        width: 255px;
        border-left:1px solid rgb(238,238,238);
		padding-left:15px;
		padding-right:15px;
    }
    #left {
		float: left;
		width: 175px;
		border-right:1px solid rgb(238,238,238);
		margin-left:15px;
    }  
    #committee-list{margin-left:15px;}
    #committee-list-item{float:left; margin-left:15px;}

    #reccomended-committees{
		margin-left:15px;
		border:1px solid rgb(100,100,100);
		background-color:rgb(240,240,240);
    }  
</style>
<div id="header-index-container">
    <div id="header-index">
        <br><h3 style="color:rgb(80, 84, 92);font-size:45px;float:left;"><i class="fa fa-th"></i> committees</h3>
        <button class="btn" style="float:right;">+ new committee</button>
        <div style="clear:both"></div>
		<br>
    </div>
</div>

<div id="left">
	official<br>
	location / geolocate<br>
	tag form<br>
	{{for tag in committee_tag_array:}}
		{{=tag}}<br>
	{{pass}}
</div>

<div id="right">

	<br><br><br>
	<div style="border:1px solid rgb(235,235,235);background-color:rgb(246,250,255);padding:15px;" id="ad_block">
        <a class="close" id="close-ad" href="#">&times;</a>
        <div id="promoted_list">
            {{for thread in range(5):}}
                <a href="/thread/{{=thread}}"><h5>promoted {{=thread}}</h5></a>
            {{pass}}          
        </div>
    <br>
    </div>
</div>


<div id="contentwrapper">
    <div id="content">
    	
		<!--<div id="reccomended-committees">
			{{for committee in rand_committee_list:}}
				<h5><a href="/committee/{{=committee['url']}}">{{=committee['title']}}</a></h5>
			{{pass}}
		</div>-->

		<div id="committee-list">
		    {{for committee in committee_list:}}
				<br><br>
			    <div id="committee-list-item">
			    	<img src="" style="width:64px;float:left;margin-left:15px" class="img-polaroid" />
			    	<h5 style="float:left;margin-left:15px;"><a href="/committee/{{=committee['url']}}/">{{=committee['title']}}</a></h5>
			    </div>
				<br><br><br><br><br><hr>
		    {{pass}}
		</div>

		<p class="lead" style="text-align:center;"><a>more</a></p>

	</div>
</div>


<div style="clear:both;"></div>
<br>
<br>
<br>
<br>