{{extend 'layout.html'}}
<div class="centered-width">
<h1>discover</h1>
<a>resources</a>

<p style="font-sie:32px">geolocate</p>
<br><br><hr>

{{for data in data_list1:}}
	{{=data}}<br><br><br>
{{pass}}

<br><br><hr>

{{for data in data_list:}}

	{{=data}}<br><br><br>
	{{=data['last_name']}}<br>
	{{=data['full_name']}}<br>
	{{=data['district']}}<br>
	{{=data['chamber']}}<br>
	{{=data['party']}}<br>



	<br><br><br>

{{pass}}

<br><br><hr>
register to vote..<br>
local laws<br>
local regulations<br>
local reps<br>
rep votes<br>
local refrendums<br>
local petitions<br>
trending petitions<br>
trending polls<br>
trending toics<br>
tags<br>
</div>

<br><br><br><br>