{{extend 'layout.html'}}
<div class="centered-width">
	<h1>faq</h1><hr>
	<a>question</a>
	<div class="well">answer</div>
	<a>what is voetr?</a><br>
	<a>what are committees?</a><br>
	<a>what are tags?</a><br>
	<a>what is voetr trying to achieve?</a><br>
	<a>what is leaderless leadership?</a><br>


what is the mission?
what is a committee?
what is a thread?
what is a tag?
what is a bylaw?
what are some of the committee types or settings?
can elections be held?
how are bills introduced?
what is the discover page?
what is the trending page?
how can I get envolved?
how can voetr help candidates?

</div>