{{extend 'layout.html'}}
<div class="centered-width">
<br>
<h3>empowering the internet</h3>
<h3>seeing past partisan politics</h3>
<br><br>
<!--
<div class="well">testing</div>

<p class="lead">voetr empowers the internet</p>
<p class="lead">crowd sourced budgets; where are we placing our value?</p>

<div class="well">

	<p class="lead">what is voetr?</p>
	<p class="lead">now is the time for change!</p>
	<p class="lead">now is the time to empower ourselves and realize that we can make a difference</p>
	<p class="lead">now is the time to really think about what is important</p>
	<p class="lead">let's stop being so petty, ignorant, and angry.</p>
	<p class="lead">let's help our fellow man.</p>
	
	<p class="lead">voetr empowers the internet to spark tangible differences. it only means so much as the value that it is given.</p>
	<p class="lead">its power comes from you. just like governments. when people begin to wake up to this calling of life. of this <a href="www.evolvedus.com">evolution</a> that we are facing as a species.</p>
    <p class="lead">we must continus to ask the tocugh questions. we must accept responsibility as a group, not as an individual</p>
    
</div>

-->

<br>

<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        test
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Action</a></li>
        <li><a tabindex="-1" href="#">Another action</a></li>
        <li><a tabindex="-1" href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Separated link</a></li>
	</ul>
</div>

<br><br>

<div class="tabbable">
    <ul class="nav nav-tabs">
    	<li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
    	<li><a href="#tab2" data-toggle="tab">Section 2</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
        	<p>I'm in Section 1.</p>
        </div>
        <div class="tab-pane" id="tab2">
        	<p>Howdy, I'm in Section 2.</p>
        </div>
    </div>
</div>

<br><br>

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
    	<li class="active"><a href="#tab3" data-toggle="tab">Section 1</a></li>
    	<li><a href="#tab4" data-toggle="tab">Section 2</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab3">
        	<p>I'm in Section 1.</p>
        </div>
        <div class="tab-pane" id="tab4">
        	<p>Howdy, I'm in Section 2.</p>
        </div>
    </div>
</div>


<h5>trending polls</h5>
<div style="margin-left:15px;">
    <p class="lead">this is a test</p>
    <p class="lead">this is a test</p>
    <p class="lead">this is a test</p>
</div>
<h5>trending committees</h5>
<div style="margin-left:15px;">
    <p class="lead">this is a test</p>
    <p class="lead">this is a test</p>
    <p class="lead">this is a test</p>
</div>
<h5>trending threads</h5>
<div style="margin-left:15px;">
    <p class="lead">this is a test</p>
    <p class="lead">this is a test</p>
    <p class="lead">this is a test</p>
</div>
<h5>statutes</h5>
<div style="margin-left:15px;">
    <p class="lead">this is a test</p>
    <p class="lead">this is a test</p>
    <p class="lead">this is a test</p>
</div>

<br><br>

<h3>It's about time we grew up. WHAT IS GOING ON?!</h3>
<h4><a> spread the word</a></h4>
<p class="lead">over 1,000,000,000,000 voetrs and counting</p>

<div style="float:right;">
    <h1>get the app</h1>
    <a href=""><img class="opacity-img" style="height:48px;" src="/voetr/static/images/app_store_icon.png" /></a>
    <a href=""><img class="opacity-img" style="height:48px;" src="/voetr/static/images/android_marketplace_icon.png" /></a>
</div>
</div>
<br><br><br><br><br><br>
