{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<script>
$(function() {
    $('a').click(function(){
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
        return false;
    });
});
</script>
{{if auth.is_logged_in():}}
    <h1>you are logged in</h1>
    {{for x in range(100):}}
        <h1>{{=x}}</h1>
    {{pass}}
{{else:}}
<div style="background-image: url(../voetr/static/images/crowd.jpg); height: 500px;background-repeat:no-repeat; background-size: 100%;background-position: 0px -400px;background-color:rgba(255,0,0,0.5);">
    <br><br>
    <p class="lead" style="text-align:center;font-family:ubuntu;font-weight:bold;font-size:80px;color:rgb(147, 56, 56)">empowering the internet</p><br>
    <p class="lead" style="text-align:center;font-family:ubuntu;font-weight:bold;font-size:30px;color:rgb(78, 115, 156)">seeing past partisan politics</p>
    <p style="text-align:center"><i style="font-size:128px;color:rgb(240,240,240);" class="fa fa-refresh fa-check-square"></i></p>
    <br>
    <div id="header-search" style="display:block;margin: 0 auto;width:350px; background-color:rgba(0, 0, 0, 0.4);color: white;padding:10px 20px 5px 20px;border-radius:5px;">
        <div class="input-append">
            <input type="text">
            <div class="btn-group" style="margin-top:0px;">
                <a href="/search/"><button class="btn" tabindex="-1"><i class="icon-search"></i></button></a>          
            </div>
            <br><br>
            <div class="btn-group">
              <a href="#test" class="btn btn-primary">discover</a>
              <a href="#test1" class="btn btn-default">learn more</a>
            </div>
            
        </div>
    </div>
</div>

<div id="index-header">
    <div id="index-header-container">
        <div id="header-1">
            <div style="float:left;">
                <span class="fa-stack fa-lg" style="float:left;margin-right:15px;margin-top:13px;">
                    <i class="fa fa-cloud fa-stack-2x"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <h3 style="float:left;">the decision making cloud</h3>
                <br><br>
                <i class="fa fa-users fa-lg" style="float:left;"></i>
                <h3 style="float:left;">democratizing power</h3>
                <br><br><br><br>
                <i class="fa fa-tachometer fa-lg" style="float:left;"></i>
                <h3 style="float:left;">leadership generator</h3>
                <br><br><br><br>
                <i class="fa fa-flag fa-lg" style="float:left;"></i><i style="float:left;" class="fa fa-thumbs-o-up fa-lg"></i>
                <h3 style="float:left;">direct change</h3>

            </div>
            <div style="float:right;">
                <h3>this is stuff on the right side</h3>
                 {{=auth.register()}}
                <div>{{=auth.register().custom.widget.email}}</div>
                <div>{{=auth.register().custom.widget.username}}</div>
        
                {{auth.register().custom.submit['_class'] = 'btn'}}
                {{=auth.register().custom.submit}}
                {{=auth.register().custom.end}} 

            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="header-2" style="display:none;">
                <h2>this is a picture</h2>
            <div style="clear:both;"></div>
        </div>

    </div>
</div>
<!--<div style="background-image: url(../voetr/static/images/global_map.svg); height: 300px; background-repeat:no-repeat;background-color:rgb(247,247,247);background-position:center;">
    <h2>empowering the internet</h2>
</div>-->
<div class="centered-width">
    <br>
    <br>
    <div>
        <table style="margin-left:auto;margin-right:auto">
            <tr>
                <td><p class="lead" style="text-align:center">political network</p></td>
                <td><p class="lead" style="text-align:center">when a fire starts to burn, it starts to spread.<span class="icon-fire"></span></p></td>
                <td><p class="lead" style="text-align:center">powerful bylaw creation system</p></td>
                <td><p class="lead" style="text-align:center">organizing vast amounts of political data</p></td>
                <td><p class="lead" style="text-align:center">discover and identify issues</p></td>

            </tr>
        </table>
        <br><br>
        <table style="margin-left:auto;margin-right:auto">
            <tr>
                <td><i style="font-size:128px;" class="fa fa-refresh fa-check-square"></i></td>
                <td><i style="font-size:128px;" class="fa fa-refresh fa-check-square"></i></td>
                <td><i style="font-size:128px;" class="fa fa-refresh fa-check-square"></i></td>
                <td><i style="font-size:128px;" class="fa fa-refresh fa-check-square"></i></td>
                <td><i style="font-size:128px;" class="fa fa-refresh fa-check-square"></i></td>
                <td><i style="font-size:128px;" class="fa fa-refresh fa-check-square"></i></td>
                <td><i style="font-size:128px;" class="fa fa-refresh fa-cloud"></i></td>
            </tr>
        </table>
        <br><br>
        <p style="text-align:center"><i style="font-size:256px;" class="fa fa-bullhorn"></i></p>

    </div>
    <br>
    <br>

</div>


<br><br><br><br>
<br><br><br><br>

<div style="background-color:rgb(42,45,37)" id="test">
    <br><br><br>
    <p style="text-align:left;margin-left:6%;color:rgb(200,200,200)">voting and such</p> 
    <br><br><br>
</div>

<div class="centered-width">
    <br><br>
        <a href="#about">about</a>
        <a href="#faq">faq</a>
        <div id="about">
                <p class="lead">voetr is open source, crowd owned, givingfor enabled, transparent, and awesome.</p>
                <p class="lead">voetr is a way for anyone to get involved and to make decisions.</p>
                <p class="lead">voetr organically identifies issues and establishes leadership structures.</p>
                <p class="lead">where should we be going? we are all making this choice.</p>
                PICTURE
                <p class="lead">the internet can be so much more powerful.</p>
                <p class="lead">let's do this.</p>
                <p class="lead">powerful bylaw creation system</p>
                PICTURE DESCRIBING
                <p class="lead">crowd sourced budgets; where are we placing our value?</p>
                <p class="lead">what is voetr?</p>
                <p class="lead">now is the time for change!</p>
                <p class="lead">now is the time to empower ourselves and realize that we can make a difference</p>
                <p class="lead">now is the time to really think about what is important</p>
                <p class="lead">voetr empowers the internet to spark tangible differences. it only means so much as the value that it is given.</p>
        </div>
        <div id="faq">

                <p>what is voetr?</p>
                <p>what is the mission?</p>
                <p>what is a committee?</p>
                <p>what is a thread?</p>
                <p>what is a tag?</p>
                <p>what is a bylaw?</p>
                <p>what are some of the committee types or settings?</p>
                <p>can elections be held?</p>
                <p>how are bills introduced?</p>
                <p>what is the discover page?</p>
                <p>what is thre trending page?</p>
                <p>how can I get envolved?</p>
                <p>how can voetr help candidates?</p>

        </div>

    <br>
    <br>

    <a href="/about/">learn more</a>
    <p class="lead">political watch dog</p>
    <p style="text-align:center"><i style="font-size:128px;" class="fa fa-gavel fa-spin"></i></p>
    <table style="width:100%">
        <tr>
            <td style="width:33%;border:1px solid rgb(200,200,200)">
                <h5>trending polls</h5>
                <div style="margin-left:15px;">
                    {{for committee in committee_list:}}
                        <a href="/committee/{{=committee['url']}}/">{{=committee['title']}}</a><br>
                    {{pass}}
                </div>
            </td>
            <td style="width:33%;border:1px solid rgb(200,200,200)">
                <h5>trending committees</h5>
                <div style="margin-left:15px;">
                    {{for committee in committee_list:}}
                        <a href="/committee/{{=committee['url']}}/">{{=committee['title']}}</a><br>
                    {{pass}}
                </div>
            </td>
            <td style="width:33%;border:1px solid rgb(200,200,200)">
                <h5>trending threads</h5>
                <div style="margin-left:15px;">
                    {{for committee in committee_list:}}
                        <a href="/committee/{{=committee['url']}}/">{{=committee['title']}}</a><br>
                    {{pass}}
                </div>
            </td>
        </tr>
    </table>

</div>

<br><br><br><br>
<br><br><br><br>

<div style="background-color:rgb(42,45,37)" id="test1">
    <br><br><br>
    <p style="text-align:left;margin-left:6%;color:rgb(200,200,200)">empowering the internet</p> 
    <br><br><br>
</div>

<div class="centered-width">

    <p class="lead">we can do this if we try</p>
    <p class="lead">political social network</p>
    <p style="text-align:center"><i style="font-size:128px;" class="fa fa-gavel fa-spin"></i></p>

</div>

<br><br><br><br>
<br><br><br><br>


<div id="share-footer">
    <div id="share-footer-container">
        <div style="float:left;">
            <h4><a id="share-popover" class="btn btn-success" rel="popover" data-content="<h1>test</h1><p>hi</p>" data-original-title="share">spread the word</a></h4>
        
            <p>like, share..</p>
            <p class="lead">{{=member_len}} voetrs and counting</p>
        </div>
        <div style="float:right;">
            <h3>get the app</h3>
            <a href=""><img class="opacity-img" style="height:48px;" src="/voetr/static/images/app_store_icon.png" /></a>
            <a href=""><img class="opacity-img" style="height:48px;" src="/voetr/static/images/android_marketplace_icon.png" /></a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<br>
<br>
<br>

<script>
    $(function (){
        $("#share-popover").popover({ html : true });
    });
</script>

{{pass}}

